.cardexperience {
    min-height: 250px;
    position: relative;
    background-color: rgba(0, 204, 255, 0.151);
    border-radius: 48px;
    transition: all .4s ease-in-out;
    cursor: default;
}

.cardexperience:hover {
    box-shadow: 0 0 50px rgba(0, 204, 255, 0.623);
    transform: scale(1.03);
}

.cardexperience:hover ::-webkit-scrollbar-thumb,
.cardexperience:hover ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 204, 255, 0.623);
}

.cardexperience:hover .cardexperience-content h4 {
    text-shadow: 0 0 4px rgb(2, 104, 129);
}

.cardexperience:hover::before {
    background: rgb(2, 225, 255);
}

.cardexperience:hover::after {
    background: rgba(98, 157, 165, 0.644);

}

.cardexperience::before {
    content: "";
    position: absolute;
    min-height: 258px;
    /* min-width: 420px; */
    width: 100%;
    -webkit-clip-path: polygon(26% 0,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    clip-path: polygon(26% 0,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    background: rgb(97, 97, 97);

    transition: all .5s ease-in-out;
}

.cardexperience::after {
    content: "";
    position: absolute;
    min-height: 240px;
    /* min-width: 400px; */
    width: 95%;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #313131;
    -webkit-clip-path: polygon(26% 0,
            31% 5%,
            61% 5%,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    clip-path: polygon(26% 0,
            31% 5%,
            61% 5%,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    transition: all .5s ease-in-out;
}

.cardexperience-content {
    position: absolute;
    z-index: 10;
    min-height: 245px;
    min-width: 320px;
    width: 90%;
    max-width: 400px;
    padding: 1rem .5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardexperience-content h4 {
    font-size: 1.4rem;
    color: #fff;
    transition: all .5s ease-in-out;

}

.cardexperience-content .name-bussines {
    font-weight: 500;
    color: #ffffff;
}

.cardexperience-content .date {
    font-weight: 600;
    color: #ffffff;
}

.cardexperience-content .description {
    color: #ffffff;
    height: 125px;
    text-shadow: 0 0 5px rgb(2, 81, 100);
    text-align: justify;
    font-size: 1.1rem;
    overflow: auto;
    padding-right: 2px;
    margin-top: 5px;
}


.cardexperience-content ::-webkit-scrollbar {
    width: 5px;
    height: 12px;
    transition: background-color 1s ease-in;
}

.cardexperience-content ::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
    transition: background-color 1s ease-in;
}

.cardexperience-content ::-webkit-scrollbar-thumb {
    background-color: #555;
    width: 10px;
    border-radius: 10px;
    border: none;
    transition: background-color 1s ease-in;
}

.cardexperience-content ::-webkit-scrollbar-thumb:hover {
    background-color: #129dee;
    transition: background-color 1s ease-in;
}
