.cardexperience {
    border-radius: .3rem;
    padding: .7rem 1rem;
    display: grid;
    grid-template-columns: 30% 1fr;
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    min-height: 200px;
    position: relative;
    gap: 5px;
    min-width: 420px;
    transition: box-shadow .3s ease-in-out;
}
.cardexperience:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.603);
    
}

.cardexperience p {
    font-size: .8rem;
}

.cardexperience .description {
    text-align: justify;
    margin: 10px 0;
}

.name-bussines {
    font-size: 1.4rem;
}

.cardexperience .role {
    color: var(--color-primary-blue);
    font-weight: 500;
    font-size: .9rem;
    line-height: 1px;
    margin-top: 3px;
}
.cardexperience:hover .role {
    text-shadow: 0 0 8px #62dffbab;
}

.container-tags {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

.container-tags .tag {
    color: var(--color-primary-blue);
    font-weight: 600;
    border: 1px solid var(--color-primary-blue);
    padding: 5px 15px;
    font-size: .8rem;
    border-radius: 1rem;
    transition: background .2s ease-in;
}

.cardexperience:hover .container-tags .tag {
    background-color: #62DFFB;
    border: 1px solid #62DFFB;
    box-shadow: 0 0 10px #62DFFB;
    color: rgb(14, 137, 146);
}

.content-date {
    font-weight: 600;
    padding-top: 5px;
}