.section-projects{
    padding: 2rem;
}

.container-cards-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
@media (min-width: 1920px) {
    .section-projects{
        padding: 1rem 4rem;
    }
}